In [8]:
import pandas as pd



def make_contry_df(contry=None):
    
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        if contry != None:
             df = df.loc[df["Country/Region"] == contry]
        df = df.drop(['Province/State', 'Country/Region','Lat','Long'], axis=1).sum().reset_index(name=f"{condition}_total")
        df = df.rename(columns={"index": "Date"})
        return df
    
    conditions = ["confirmed","deaths","recovered"] 
    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
             final_df = final_df.merge(condition_df)
    return final_df
make_contry_df()

         Date  confirmed_total  deaths_total  recovered_total
0     1/22/20              557            17               30
1     1/23/20              657            18               32
2     1/24/20              944            26               39
3     1/25/20             1437            42               42
4     1/26/20             2120            56               56
...       ...              ...           ...              ...
1138   3/5/23        676024901       6877749                0
1139   3/6/23        676082941       6878115                0
1140   3/7/23        676213378       6879038                0
1141   3/8/23        676392824       6880483                0
1142   3/9/23        676570149       6881802                0

[1143 rows x 4 columns]

In [5]:
import pandas as pd


#전 세계 일별 현황(확진자, 사망자, 완치자)


def make_global_df():
    def make_df(condition):
        
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = df.drop(['Province/State', 'Country/Region','Lat','Long'], axis=1).sum().reset_index(name=f"{condition}_total")
        df = df.rename(columns={"index": "Date"})
        return df


#조건별로 돌아가며 현황을 구하고 하나의 df에 병합시켜 나타낸다.
    conditions = ["confirmed","deaths","recovered"] 
    final_df =None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
             final_df = final_df.merge(condition_df)
    return final_df
make_global_df()

         Date  confirmed_total  deaths_total  recovered_total
0     1/22/20              557            17               30
1     1/23/20              657            18               32
2     1/24/20              944            26               39
3     1/25/20             1437            42               42
4     1/26/20             2120            56               56
...       ...              ...           ...              ...
1138   3/5/23        676024901       6877749                0
1139   3/6/23        676082941       6878115                0
1140   3/7/23        676213378       6879038                0
1141   3/8/23        676392824       6880483                0
1142   3/9/23        676570149       6881802                0

[1143 rows x 4 columns]